  body {
      background-color: #bfbfbf;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card {
      border: none;
      border-radius: 20px;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
      padding: 30px;
      width: 340px;
      background-color: #fff;
    }
    .form-control {
      background-color: #00aaff;
      border: none;
      border-radius: 10px;
      color: #fff;
      padding: 10px 15px;
    }
    .form-control::placeholder {
      color: #fff;
    }
    .btn-login {
      background-color: #4CAF50;
      border-radius: 10px;
      color: white;
      border: none;
      padding: 8px 20px;
    }
    a {
      text-decoration: none;
    }
    .logo {
      width: 50px;
      margin: 0 auto 20px;
    }